* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: yellow;
    height: 100vh;
    position: relative;
}

#error-box {
    width: 50%;
    text-align: center;
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}